---
import BaseLayout from "@layouts/BaseLayout.astro";
import globalSettings from '@config/config.json.ts';
import { getSortedPosts } from "@utils/utils.js";
import Hero from "@components/Hero.astro";
import PostCard from "@components/PostCard.astro";
import { type Page } from "astro";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const { posts } = await getSortedPosts();

  return paginate(posts, {
		pageSize: globalSettings.pagination_posts_number,
	});
}

const { page } = Astro.props as { page: Page };

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));
---

<BaseLayout globalSettings={globalSettings} t={t} title={t.blog_page.title_hero} description={t.blog_page.description_hero}>
    <main>
        <div class="iteration-container">
            <Hero 
                globalSettings={globalSettings} 
                title={t.blog_page.title_hero}
                description={t.blog_page.description_hero} 
                total_number={page.total}
            />
        </div>

        <section class:list={['wide-container section-padding-top grid-section', { 'hidden-animation': globalSettings.use_page_load_animations }]}>
            <div class="grid-outer section-padding-bottom">
                <div class="grid pagination-grid">
                    {
                        page.data.map((post) =>
                            <PostCard post={post}/>
                        )
                    } 
                </div>
                
                <Pagination t={t} posts_per_page={globalSettings.pagination_posts_number} total_posts={page.total}/>
            </div>
        </section>
    </main>
</BaseLayout>