---
import BaseLayout from "@layouts/BaseLayout.astro";
import globalSettings from '@config/config.json.ts';
import Hero from "@components/Hero.astro";
import TagCard from "@components/TagCard.astro";
import { getTags, getUniqueTagsWithCount } from "@utils/utils.ts";

const tags = await getTags();
const unique_tags = getUniqueTagsWithCount(tags)

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));
---

<BaseLayout globalSettings={globalSettings} t={t} title={t.tags_page.title_hero} description={t.tags_page.description_hero}>
  <main>
    <Hero 
      globalSettings={globalSettings} 
      title={t.tags_page.title_hero}
      description={t.tags_page.description_hero}
      total_number={unique_tags.length}
    />

    <section class:list={['tags-section wide-container section-padding-top-extra', { 'hidden-animation': globalSettings.use_page_load_animations }]}>
      <div class="grid tags-grid section-padding-bottom">
        {
          unique_tags.map((tag) =>
              <TagCard name={tag.original} url={tag.slug} post_count={tag.count} t={t}/>
          )
        } 
      </div>
    </section>
  </main>
</BaseLayout>