---
import FormHero from '@components/FormHero.astro';
import globalSettings from '@config/config.json.ts';
import BaseLayout from "@layouts/BaseLayout.astro";

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));

---

<BaseLayout globalSettings={globalSettings} t={t} title={t.contact_page.title_hero} description={t.contact_page.description_hero}>
    <main>
        <FormHero type={"Contact"} t={t} globalSettings={globalSettings} title={t.contact_page.title_hero} description={t.contact_page.description_hero}/>
    </main>
</BaseLayout>