---
import BaseHead from "@layouts/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import type { SeoProps } from "@src-types/types";

const { globalSettings, t, load_flickity = false } = Astro.props;

const {
	type,
	title,
	description,
	image,
	noindex,
} = Astro.props as SeoProps;
---

<!doctype html>
<html lang={globalSettings.language} data-smooth-scroll={globalSettings.scrolling_type} data-use-custom-scrollbar={globalSettings.use_custom_scrollbar} data-cursor={globalSettings.cursor_type}>
	<head>
		<BaseHead globalSettings={globalSettings} type={type} title={title} description={description} image={image} noindex={noindex}/>
	</head>
	<body>
		{globalSettings.cursor_type !== "Normal" &&
			<custom-cursor class="custom-cursor hidden"></custom-cursor>
		}
		<div class="site-content">
			<Navbar globalSettings={globalSettings} t={t}/>
			<slot />
			<Footer globalSettings={globalSettings} t={t}/>
		</div>
	</body>
</html>